/.idea/
.terraform.lock.hcl
**/.terraform/
*.tfstate.lock.info
**/demo.tfstate
**/demo.tfstate.backup
**/tf-destroy.sh
**/docker/nginx.conf
/test-modules/
/logs/
/dist/
/target/
**/*.log
**/*.tfstate.backup
*.iml

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*-override.tf
*_override.tf.json
